{
	"singleQuote": true,
	"trailingComma": "all",
	"printWidth": 90,
	"tabWidth": 4,
	"useTabs": true,
	"semi": true,
	"arrowParens": "always",
	"bracketSpacing": true,
	"endOfLine": "lf",
	"quoteProps": "as-needed"
}